.First_page_main{
    background-color: #F7AF9D;
    /*內容被景色*/
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.First_page_main img{
    width: 75%;
    transition-duration: 0.5s;
}
.First_page_main button{
    transition-duration: 0.5s;
    background-color: #ffedb1;
    /*按鈕被景色_遠本*/
    font-size: 35px;
    border-radius: 10px;
    border: 2px #8a532f outset;
    /*按鈕邊線顏色*/
    float: auto;
}
.First_page_main button:hover{
    background-color: #ffeaee
    /*滑鼠放在按鈕上的顏色*/
}
.First_page_main .Title_word{
    margin-top: 10px;
    font-size: 50px;
    border: 5px #1f3f34 solid;
    /*內容邊線顏色*/
    background-color: #ffebc3;
    /*內容標頭顏色*/
}
.buttom{
    margin-bottom: 10px;
}
.bottom{
    clear: both;
    background-color: #ff977a;
    /*底部區域顏色*/
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}