.First_page_main{
    background-color: #ffd6d6;
    height: auto;
    width:100%;
}
.interaction{
    float: right;
    width: 50%;
    margin-top:  50px; ;
    margin-left: 40px;
}
.table_in{
    width: 45%;
}
.table_in img{
    width: 100%;
}
.text_in{
    font-size: 25px;
    margin-right: 90px;
    margin-top: 50px;
}
.First_page_main button{
    transition-duration: 0.5s;
    background-color: #ffddc1;
    font-size: 35px;
    border: 3px #8a532f outset;
}
.First_page_main button:hover{
    background-color: #fddfff;
}
.First_page_main .button_in{
    border: #8a532f;
    width: 600px;
}
.bottom{
    clear: both;
    background-color: #f7e582;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}