.First_page_main{
    background-color: #e8ffb7;
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
}
.text_in{
    margin-right:7%;
    margin-left:7%;
    font-size: 20px;
}
.text_in img{
    width: 100%;
}
.text_in a{
    text-decoration: none;
}
.bottom{
    clear: both;
    background-color: #c0f4b9;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}