.First_page_main{
    background-color: #9DC383;
    height: auto;
    width:100%;
}
.button_in{
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-top: 50px;
}
.button_in pre{
    font-size: 24px;
}
.text_in{
    float: right;
    font-size: 30px;
    margin-right: 90px;
    margin-top: 50px;
}
.First_page_main button{
    transition-duration: 0.5s;
    background-color: #61e4b8;
    font-size: 35px;
    border-radius: 10px;
    border: 2px #8a532f outset;
}
.First_page_main button:hover{
    background-color: #b7f1de;
}
.bottom{
    clear: both;
    background-color: #C6B766;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}
