.First_page_main{
    background-color: #9DC383;
    height: 1000px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.First_page_main table{
    border: 1px;
    font-weight:bold;
    font-size: 24px;
}
.bottom{
    clear: both;
    background-color: #C6B766;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}