.First_page_main{
    background-color: #9DC383;
    height: 1000px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.First_page_main img{
    width: 30px;
}
.First_page_main pre{
    margin-top: 0;
}
.bottom{
    clear: both;
    background-color: #C6B766;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}